.parallax {
    position: absolute;
    perspective: 1px;
    height: 130vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}

.parallax__layer_1 {
    transform: translateZ(0);
}

.parallax__layer_2 {
    transform: translateZ(-1px);
}