.scroll {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: .6s;
    &:hover {
        color: $text-color-gray;
    }
    &:hover .scroll__pic{
        fill: $text-color-gray;
    }
    @include tablets {
        display: none;
    }
}

.scroll__name {
    font-size: 18PX;
    font-weight: 600;
    margin-right: 10PX;
}

.scroll__pic {
    width: 30PX;
    height: 30PX;
    fill: $text-color;
    transition: .6s;
}