.admin {
    display: flex;
    flex-direction: column;
    max-width: 1200PX;
    color: $text-color-admin;
}

.admin__container {
    display: flex;
    margin: 0 60px;
}

.admin__block_container {
    display: flex;
    width: 100%;
    margin: 30PX;
}