.admin__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg_admin;
}

.admin__container_content {
    flex-direction: column;
    width: 100%;
}