script(type="text/x-template")#about-slider
    .about__wrapper
        .about__title
            h2.title.title_about Что обо мне говорят
            .about__content-buttons
                button(type="button" @click="previous()").about__button_round
                    +icon('arrow-down', 'about__button about__button_prev')
                button(type="button" @click="next()").about__button_round
                    +icon('arrow-down', 'about__button about__button_next')
        .about__content
            .about__watch-zone
                flickity(v-if="feedbacks.length > 0" ref="flickity" :options="flickityOptions").about__list
                    .carousel-cell.about__item(v-for="feedback in feedbacks" :key="feedback.id")
                        +icon('quote', 'about__item-pic')
                        .about__item-content
                            .site__text.about__text
                                p {{feedback.text}}
                            .about__item-user
                                .ava.ava_about
                                    img(
                                    :src="`https://webdev-api.loftschool.com/${feedback.photo}`"
                                    alt="User Avatar"
                                    loading='lazy'
                                    ).user__ava
                                .about__user-data
                                    h5.about__user-name {{feedback.author}}
                                    .about__user-prof {{feedback.occ}}