script(type="text/x-template")#navlistFooter
    nav.nav
        ul.nav__list
            li.nav__item(v-for="nav in navs")
                a.nav__link(:class="nav.class" @click.prevent :href="nav.to" v-text="nav.title")